<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img class="professional-picture" [src]=professional.profilePicture alt="Professional photo">
            </div>
            <div class="col-md-8">
                <h4>{{professional.name}}</h4>
                <p>
                    <strong class="text-primary">{{professional.occupation}}</strong> | {{professional.location}}
                </p>
                <p>
                    <ngb-rating [rate]="professional.score" max="5" readonly="true"></ngb-rating>
                    ({{professional.reviewsCount}} reviews)
                </p>
                <p>
                    <strong>{{professional.sessionPrice | currency:'BRL':'symbol':'.2-2':'pt-BR'}}</strong>
                    /
                    <small>{{professional.sessionDuration}} minutes</small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 professional-description">
                {{professional.description}}
            </div>
        </div>
    </div>
    <div class="card-footer professional-link">
        <a [routerLink]="['/schedule', professional.id]" class="btn btn-primary"
            [ngClass]="{'disabled': professional.schedules.length===0}">
            Schedule
        </a>
    </div>
</div>
